$main-width: 1920px;
$header-image: url(../img/m-h-night.jpg);
$main-font: 'Fresca', sans-serif;
$gradient-left-color: #dda207;
$gradient-right-color: #96324e;

$colors: (
    "main": #21232e, 
    "button": #e3ac00, 
    "selection": #ff4e33,
    "card": #3b3f50, 
    "card-text": #c0c3ce, 
    "footer": #d1d1d1,
    "heading": #fff
);